<div class="header">
	<div class="container">
		<button id="randy-button" data-ng-click="model.getRandomWord()">feeling randy</button>
		<h1>Panagram</h1>
		<form>
			<input ng-model="model.phrase" name="phrase" ng-change="model.getPhrases()" placeholder="type a word to anagram">
		</form>
	</div>
</div>
<div class="content">
	<div class="container">
		<div style="float: right;">
			<b>{{model.numResults}} Result(s)</b> found <span ng-if="model.isPrime(model.numResults)">(Its prime!)</span> <span> in {{model.responseTime}} seconds.</span>
		</div>
		<p class="filter-text" ng-if="model.phrase.length > 0">Show only words that start with <input ng-model="model.letter" name="letter" class="letter-box" ng-change="model.getPhrases()"></p>
		<div class="line" ng-if="model.phrase.length > 0"></div>
		<ul>
			<li ng-repeat="result in model.results" ng-class="{'palindrome':model.isPalindrome(result)}">
				{{result}}
			</li>
		</ul>
	</div>
</div>