.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}
.header {
    background: #00E15A;
    color: #fff;
    padding: 80px 0;
}
h1 {
	background: url(/assets/images/logo.png) -15px -10px;
	background: url(/assets/images/logo.png) -28px -21px;
    text-indent: -9999px;
    display: block;
    width: 136px;
    height: 22px;
    width: 264px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 30px;
}
input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 50%;
    width: 25%;
    color: #fff;
}
textarea:focus, input:focus{
    outline: none;
}
::-webkit-input-placeholder {
   color: #fff;
   color: #efefef;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
   color: #efefef;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
   color: #efefef;  
}

:-ms-input-placeholder {  
   color: #fff;  
   color: #efefef;  
}

* {
	font-size: 18px;
}
.content {
	padding-top: 20px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    line-height: 2;
}
.filter-text:before {
	content: '';
	display: inline-block;
	background: url(/assets/images/filter_icon.png);
	width: 14px;
	height: 16px;
	margin-right: 5px;
}
.letter-box {
    border-bottom: 1px solid #000;
    width: 25px;
    color: #000;

}
.palindrome:before {content: '';display: inline-block;background: url(/assets/images/p_icon.png);width: 11px;height: 13px;}

.palindrome {
    font-weight: bold;
}
.line {
    height: 2px;
    background: #eaeaea;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-top: 8px;
}


#randy-button {
    float: right;
    border: 1px solid white;
    background: transparent;
    padding: 6px 20px;
    font-size: 16px;
    outline: none;
    box-shadow: none;


}