.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}
.header {
    background: #00E15A;
    color: #fff;
    padding: 40px 0;
}
input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 50%;
    color: #fff;
}
textarea:focus, input:focus{
    outline: none;
}